/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color:  #355e3b;
}
/*styles for css container*/
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*heading*/
h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;

}
/*label*/
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
}
/*Added hover elements*/
button:hover {
    background-color: #45a049;
}

#pizzaDescription {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
}

#studentInfo {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #666;
}

.jsInput {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}
